<!-- <p>about-us works!</p> -->


  <div id="carouselExampleSlidesOnly" class="carousel slide py-60" data-bs-ride="carousel" style="background-image: url('assets/about-img/about-banner.jpg'); height: 72vh;">
      <div class="carousel-inner">
        <div class="carousel-item active">

          <div class="bg-dark p-5 text-white bg-opacity-75 m-5 w-50">
              <h3 class="text-decoration-underline ">Vision</h3>
              <p>To be our stakeholders’ first choice in everything we do.</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="bg-dark p-5 text-white bg-opacity-75 m-5 w-50">
              <h3 class="text-decoration-underline ">Mission</h3>
              <p>Introducing convenient and advanced solutions provided by professional competencies to accomplish unique satisfaction level, exceed needs & expectations of stakeholders, thus reach superior organizational distinction level.</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="bg-dark p-5 text-white bg-opacity-75 m-5 w-50">
              <h3 class="text-decoration-underline ">Strategy</h3>
              <p>Sustaining B.TECH a stable and strong organization capable of growing professionally and excellently to accomplish its shareholders’ ambitions and reach added-value.</p>
          </div>
            </div>
      </div>
    </div>

  <div class="py-60 text-center">
      <img src="assets/about-img/Ceo.jpg" class="rounded-circle my-5" width="120vw">
      <p class="w-50 mx-auto fs-4 ">B.TECH is our second home; Place to meet individuals sharing same goal, principles, spirit and values together . By time, we turned into friends and one family facing difficulties, innovating, succeeding, failing and trying times & times just to achieve better life for all</p>
      <h6 style="color: #F3AA27;">Dr. Mahmoud Khattab</h6>
      <h6 class="text-muted">CEO & Managing Director</h6>
  </div>

  <div class="bg-body-secondary py-60 ">
      <h1  class="d-flex justify-content-center mb-5">B.TECH Values</h1>
      <div class="ctr row mx-auto">
  <div class="col-3 p20"><img src="assets/about-img/corporate-01.png" alt="" srcset=""></div>
  <div class="col-9 p20 d-flex align-items-center">
      <div>
          <h4  class=" mx-5 fs-4">Trust</h4>
          <p class="w-75 mx-5 fs-5">We are always keen on all our stakeholders’ trust. We believe that honesty in dealing is the base of dear business reputation and that commitment to transparency leads to trust. So we preserve honesty, integrity, and justice as key foundations of success.</p>
      </div>
  </div>
  <div class="col-9 p20 d-flex align-items-center">
      <div>
          <h4 class="mx-5 fs-4">Love</h4>
          <p class="w-75 mx-5 fs-5">We care for our people, so that they can take care of their beloveds.</p>
      </div>
  </div>
  <div class="col-3 p20"><img src="assets/about-img/corporate-02.png" alt="" srcset=""></div>
  <div class="col-3 p20"><img src="assets/about-img/corporate-03.png" alt="" srcset=""></div>
  <div class="col-9 p20 d-flex align-items-center">
      <div>
          <h4 class=" mx-5 fs-4">Excellence</h4>
          <p class="w-75 mx-5  fs-5">We strive to achieve excellence in everything we do to meet and exceed people’s expectations. Beside caring for the slightest details and working on developing our skills.</p>
      </div>
      </div>
  <div class="col-9 p20 d-flex align-items-center">
      <div>
          <h4 class=" mx-5 fs-4">Empowerment</h4>
          <p class="w-75 mx-5 fs-5">We work hard to empower our stakeholders to achieve their goals and ambitions.</p>
      </div>
  </div>
  <div class="col-3 p20"><img src="assets/about-img/corporate-04.png" alt="" srcset=""></div>
  <div class="col-3 p20"><img src="assets/about-img/corporate-05.png" alt="" srcset=""></div>
  <div class="col-9 p20 d-flex align-items-center">
      <div>
          <h4 class=" mx-5 fs-4">Innovation</h4>
          <p class="w-75 mx-5 fs-5">We are partial to providing solutions, services and innovative products that serves our customers or stakeholders in a way that meets & exceeds expectations.</p>
      </div>
  </div>
  <div class="col-9 p20 d-flex align-items-center">
      <div>
          <h4 class="mx-5 fs-4">Fun</h4>
          <p class="w-75 mx-5 fs-5">We believe that our products and services should enable our customers to enjoy their lives.</p>
      </div>
  </div>
  <div class="col-3 p20"><img src="assets/about-img/corporate-06.png" alt="" srcset=""></div>
  <div class="col-3 p20"><img src="assets/about-img/corporate-07.png" alt="" srcset=""></div>
  <div class="col-9 p20 d-flex align-items-center">
      <div>
          <h4 class="mx-5 fs-4">Efficiency</h4>
          <p class="w-75 mx-5 fs-5">We struggle to improve performance and to accomplish any mission in the shortest time possible while managing efforts and resources in a manner that achieves highest productivity and highest quality.</p>
      </div>
  </div>

  </div>
  </div>

  <div class=" py-60 ">
      <h1  class="d-flex justify-content-center mb-5">B.TECH Competencies</h1>
      <div class="ctr row mx-auto">
  <div class="col-4 p20"><img src="assets/about-img/Interacting-With-People.png" alt="" srcset=""></div>
  <div class="col-8 p20 d-flex align-items-center">
      <div>
          <h4  class=" mx-5 fs-3">Interacting With People</h4>
          <p class="w-75 mx-5 fs-4">Take the initiative to communicate with new people, show enthusiasm when making new friends and build strong productive relationships and networks.</p>
      </div>
  </div>
  <div class="col-8 p20 d-flex align-items-center">
      <div>
          <h4 class="mx-5 fs-3">Team Work</h4>
          <p class="w-75 mx-5 fs-4">Work effectively with others in a team, take account of other people's views and involve others in the final decision.</p>
      </div>
  </div>
  <div class="col-4 p20"><img src="assets/about-img/Team-Working.png" alt="" srcset=""></div>
  <div class="col-4 p20"><img src="assets/about-img/Pursuing-Goals.png" alt="" srcset=""></div>
  <div class="col-8 p20 d-flex align-items-center">
      <div>
          <h4 class=" mx-5 fs-3">Pursuing Goals</h4>
          <p class="w-75 mx-5 fs-4">Drive to achieve outstanding results, act with determination to succeed and perseveres through difficult challenges.</p>
      </div>
      </div>
  </div>
  </div>
     <hr class="w-75 text-muted mx-auto">
  <div class="py-60 text-center">
      <img src="assets/about-img/Ceo.jpg" class="rounded-circle my-5" width="120vw">
      <p class="w-50 mx-auto fs-4 ">Our purpose in B.TECH is to meet all our stakeholders’ needs and contribute in creating new jobs, help community everywhere and communicate with higher professionalism level that enables us to compete and prove ourselves globally.</p>
      <h6 style="color: #F3AA27;">Dr. Mahmoud Khattab</h6>
      <h6 class="text-muted">CEO & Managing Director</h6>
  </div>

  <div class="bg-body-secondary  py-60 fs-4">
  <div class="row container orang-hover">
      <div class="col-3 p-5 fs-2 fw-semibold text-end">1997</div>
      <div class="col-9 p-5">We started under the name of "Olympic Stores" with approximately 65 employees and 3 branches only.</div>
  </div>
  <div class="row container orang-hover">
      <div class="col-3 p-5  fs-2 fw-semibold text-end">2000</div>
      <div class="col-9 p-5">Number of employees doubled into 158 and we reached 21 branches.</div>
  </div>
  <div class="row container orang-hover">
      <div class="col-3 p-5 fs-2 fw-semibold text-end">2003</div>
      <div class="col-9 p-5">The brand name got changed into "B.TECH" to reflect our vision and objective of providing high-quality technology of household & electronic appliances in every house with the purpose of facilitating people’s lives.</div>
  </div>
  <div class="row container orang-hover">
      <div class="col-3 p-5 fs-2 fw-semibold text-end">2011</div>
      <div class="col-9 p-5">The journey of success continued thanks to our employees in the first place. We reached 1295 employees and the number of branches grew into 56.</div>
  </div>
  <div class="row container orang-hover">
      <div class="col-3 p-5 fs-2 fw-semibold text-end">2018</div>
      <div class="col-9 p-5">Today, B.TECH is starting a new chapter of its success story after its 20th anniversary with 3000 employees in 70 branches, in 23 governorates and 28 Egyptian cities.</div>
  </div>
  </div>

  <div class="py-60 text-center">
      <img src="assets/about-img/Ceo.jpg" class="rounded-circle my-5" width="120vw">
      <p class="w-50 mx-auto fs-4 ">I am proud of belonging to you and being one of your team and I hope you are too, as well.</p>
      <h6 style="color: #F3AA27;">Dr. Mahmoud Khattab</h6>
      <h6 class="text-muted">CEO & Managing Director</h6>
  </div>
  <hr class="w-75 text-muted mx-auto">
  <div class="d-flex justify-content-center fs-2 mb-3">WORK AT B.TECH & INVEST IN YOUR FUTURE!</div>







