<!-- <p>contact-us works!</p> -->


  <div class="container row mx-auto">
      <h1 class="text-decoration-underline my-5 fs-2">Contact Us</h1>
      <div class="col-8 m-0">
          <div class="border border-4 border-secondary-subtle p-3">
              <form  class="mt-3" action="">
                  <label for="radio">Message To</label>
                  <div class="row" id="radio">

                      <div class="col-4 bg-secondary-subtle d-inline-block p-3 "><input type="radio" name="con" id="Complaints-and-suggestions"><label class="px-2" for="Complaints-and-suggestions">Complaints</label></div>
                      <div class="col-4 bg-secondary-subtle d-inline-block p-3 "><input type="radio" name="con" id="Marketing-Management"><label class="px-2" for="Marketing-Management">Marketing Management</label></div>
                      <div class="col-4 bg-secondary-subtle d-inline-block p-3 "><input type="radio" name="con" id="Academy"><label class="px-2" for="Academy">B.TECH Academy</label></div>
                      <div class="col-4 bg-secondary-subtle d-inline-block p-3 "><input type="radio" name="con" id="Sales_Management"><label class="px-2" for="Sales_Management">Sales Management</label></div>
                      <div class="col-4 bg-secondary-subtle d-inline-block p-3 "><input type="radio" name="con" id="Recruitment"><label class="px-2" for="Recruitment">Recruitment</label></div>
                      <div class="col-4 bg-secondary-subtle d-inline-block p-3 "><input type="radio" name="con" id="Public_relations"><label class="px-2" for="Public_relations">Public relations</label></div>
                  </div>
                  <div class="mt-3">
                  <label class="form-label" for="name" >Full Name</label>
                  <input class="form-control" type="text" name="" id="name">
                  </div>
                  <div class="mt-3">
                  <label class="form-label" for="mob">Mobile Number</label>
                  <input class="form-control" type="tel" name="" id="mob">
                  </div>
                  <div class="mt-3">
                  <label class="form-label" for="mail">E-mail</label>
                  <input class="form-control"  type="email" name="" id="mail">
                  </div>
                  <div class="mt-3">
                  <label class="form-label" for="msg">Message</label>
                  <textarea class="form-control"  name="" id="msg" cols="30" rows="10"></textarea>
                  </div>

  <button type="button" class="btn btn-success mt-3">SEND</button>
              </form>
          </div>
      </div>
      <div class="col-4 m-0">

          <h3>B.TECH</h3>
          <h4>Head office and public administration</h4>
          <ul class="list-group">
              <li class="list-group">Emtedad Ramses Street - 6th District - Nasr City - Cairo.</li>
              <li class="list-group">Telephone:+202 23480700/15</li>
              <li class="list-group">Fax:+202 23426076</li>
              <li class="list-group">info@btech.com</li>
              <li class="list-group">http://www.btech.com</li>
          </ul>
          <hr class="text-muted">
          <h3>Administrative Building 2</h3>
          <ul class="list-group">

              <li class="list-group">Emtedad Ramses Street - Nasr City - Next To Marmonil Factory.</li>
          </ul>
      </div>
  </div>


